{% extends 'base.html' %}
{% block content %}

<h3>Log In:</h3>
<form action='/login_catch' method="POST">
    <input class="login" type="text" name="username" value="username">
    <input class="login" type="text" name="password" value="password">
    <input type="submit" name="Log In">
</form>
<br>
<h1>Sign Up:</h1>
<form action='/signup_catch' method="POST">
    <input class="signup" id="username" type="text" name="username" placeholder="user">
    <br>
    <input class="signup" type="text" name="password" value="password">
    <br>
    <input class="signup" type="text" name="age" value="age">
    <br>
    <input class="signup" type="text" name="zipcode" value="ZIP">
    <br>
    <input class="signup" type="submit" name="Sign Up">
    <br>
</form>
<!-- <script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/script.js"></script> -->
{% endblock %}